.status_0 {
    color: red;
}

.status_1 {
    color: green;
}

.nav-general {
    height: 30px;
}

.foo-ter {
    background-color: #fff;
    height: 20px;
    font-size: smaller;
    border-top: outset 2px;
}

.body-color {
    background-color: #f4f6f9;
}

.required {
    color: red;
}